.header {
    background-color: rgba(0, 0, 0, 0.63);
    padding: 10px;
    display: flex;
    justify-content: start;
}

.texte {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}

.logo {
  padding: 10px;
  height: 50px;
}